version: "3.9"
services:
  backend:
    build: .
    container_name: spring-backend
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:${POSTGRES_DB_DOCKER_PORT}/${POSTGRES_DB_NAME}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_DB_USERNAME}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_DB_PASSWORD}
    depends_on:
      - postgres

  frontend:
    build: ./client
    container_name: react-frontend
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend

  postgres:
    image: postgres:15-alpine
    container_name: postgres-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB_NAME}
      POSTGRES_USER: ${POSTGRES_DB_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_DB_PORT}:${POSTGRES_DB_DOCKER_PORT}"

volumes:
  postgres_data:
